Host *
		AddKeysToAgent yes
		UseKeychain yes
		IdentityFile ~/.ssh/id_rsa
		ServerAliveInterval 120

Host eabsentee eAbsentee
		HostName ssh.pythonanywhere.com
		User eabsenteeproject

Host localhost
		PubkeyAuthentication yes
		IdentityFile ~/.ssh/id_rsa_localhost
